<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>Name: {{ one.name }}</h2>
    <h2>prep: {{ one.prep }}</h2>
    <h2>Slug: {{ one.image }}</h2>
    <h2>image: {{ one.steps }}</h2>
    <h2>Tayyorlash_uslubi_1: {{ one.Tayyorlash_uslubi_1 }}</h2>
    <h2>Tayyorlash_uslubi_2: {{ one.Tayyorlash_uslubi_2 }}</h2>
    <h2>Tayyorlash_uslubi_3: {{ one.Tayyorlash_uslubi_3 }}</h2>
    <h2>Tayyorlash_uslubi_4: {{ one.Tayyorlash_uslubi_4 }}</h2>
    <h2>Tayyorlash_uslubi_5: {{ one.Tayyorlash_uslubi_5 }}</h2>
    <h2>Tayyorlash_uslubi_6: {{ one.Tayyorlash_uslubi_6 }}</h2>
    <h2>Tayyorlash_uslubi_7: {{ one.Tayyorlash_uslubi_7 }}</h2>
    <h2>Tayyorlash_uslubi_8: {{ one.Tayyorlash_uslubi_8 }}</h2>
    <h2>Tayyorlash_uslubi_9: {{ one.Tayyorlash_uslubi_9 }}</h2>
    <h2>Tayyorlash_uslubi_10: {{ one.Tayyorlash_uslubi_10 }}</h2>
    <h2>Tayyorlash_uslubi_11: {{ one.Tayyorlash_uslubi_11 }}</h2>
    <h2>date: {{ one.date.slug }}</h2>
    <h2>rate: {{ one.rate.slug }}</h2>
    <h2>ingredient: {{ one.ingredient.slug }}</h2>
    <h2>category: {{ one.category.slug }}</h2>

</body>
</html>